Repository json5/json5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c --loglevel warn, npm run package:check --

perf(parse): use int constants instead of strings
  lib/parse.js
Due: eslint, prettier -c --loglevel warn

fix(parse): bugs introduced in previous commit
  lib/parse.js
Due: eslint, prettier -c --loglevel warn

fix: add __proto__ to objects and arrays
  CHANGELOG.md
  lib/parse.js
  test/parse.js
Due: eslint, prettier -c --loglevel warn

docs: update CHANGELOG for v2.2.2
  CHANGELOG.md
Due: prettier -c --loglevel warn

2.2.2
  package-lock.json
  package.json
  package.json5
Due: prettier -c --loglevel warn, npm run package:check --

docs(template): bug -> bug report
  .github/issue_template.md
Due: prettier -c --loglevel warn

docs: publish a security policy
  .github/issue_template.md
  .github/pull_request_template.md
  README.md
  SECURITY.md
Due: prettier -c --loglevel warn

docs(security): use GitHub security advisories
  SECURITY.md
Due: prettier -c --loglevel warn

fix: add __proto__ to objects and arrays
  CHANGELOG.md
  src/parse.js
  test/parse.js
Due: eslint, prettier -c --loglevel warn

docs: add unreleased section to CHANGELOG
  CHANGELOG.md
Due: prettier -c --loglevel warn

docs: update CHANGELOG for v1.0.2
  CHANGELOG.md
Due: prettier -c --loglevel warn

1.0.2
  package-lock.json
  package.json
Due: prettier -c --loglevel warn, npm run package:check --

docs: add paragraph for security advisories
  index.md
Due: prettier -c --loglevel warn

docs: add security policy
  SECURITY.md
Due: prettier -c --loglevel warn

docs: update CHANGELOG for v2.2.3
  CHANGELOG.md
Due: prettier -c --loglevel warn

2.2.3
  package-lock.json
  package.json
  package.json5
Due: prettier -c --loglevel warn, npm run package:check --

docs: explain ecmascript compatibility
  README.md
Due: prettier -c --loglevel warn

docs(readme): explain ecmascript compatibility
  README.md
Due: prettier -c --loglevel warn

docs: explain ecmascript compatibility
  index.md
Due: prettier -c --loglevel warn

Create main
  main
Due: prettier -c --loglevel warn

chore: bump minimist to 1.2.6
  package-lock.json
  package.json
Due: prettier -c --loglevel warn, npm run package:check --

build: update minimist to 1.2.8
  package-lock.json
  package.json
Due: prettier -c --loglevel warn, npm run package:check --

fix: remove minimist
  package-lock.json
  package.json
  src/cli.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier -c --loglevel warn

Use .subtring() instead of .substr()
  lib/stringify.js
Due: eslint, prettier -c --loglevel warn

chore: upgrade `core-js` to `v3.37.1`*
  package-lock.json
  package.json
  package.json5
Due: prettier -c --loglevel warn, npm run package:check --

fix: replace `core-js` import format
  build/es5.js
Due: eslint, prettier -c --loglevel warn

2.2.4
  package-lock.json
  package.json
  package.json5
Due: prettier -c --loglevel warn, npm run package:check --

upgrade package-lock.json
  package-lock.json
Due: prettier -c --loglevel warn

spelling: macos
  README.md
Due: prettier -c --loglevel warn

spelling: an
  .github/pull_request_template.md
Due: prettier -c --loglevel warn

spelling: sequences
  CHANGELOG.md
Due: prettier -c --loglevel warn

Path conditions:
  eslint: any of: **/*.js
  prettier -c --loglevel warn: any of: **/*
  npm run package:check --: any of: package.{json,json5}
