Repository json5/json5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c --loglevel warn, npm run package:check --

.lintstagedrc.json:

{
  "**/*.js": "eslint",
  "**/*": "prettier -c --loglevel warn",
  "package.{json,json5}": "npm run package:check --"
}

build: add color to error messages
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  package.json5
  scripts/changelog/check.js
  scripts/changelog/update.js
  scripts/util.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

feat!: remove cli
  CHANGELOG.md
  README.md
  lib/cli.js
  package-lock.json
  package.json
  package.json5
  test/cli.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

fix!: do not log to console from library code
  CHANGELOG.md
  lib/parse.js
  package-lock.json
  package.json
  package.json5
  test/parse.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

docs: update link to JSON RFC
  README.md
Due: prettier -c --loglevel warn

build: split strings on line breaks
  scripts/check-package.js
Due: eslint, prettier -c --loglevel warn

build: use code style for filenames
  scripts/changelog/check.js
  scripts/changelog/update.js
Due: eslint, prettier -c --loglevel warn

build: run scripts silently
  package.json
  package.json5
Due: prettier -c --loglevel warn, npm run package:check --

build: update package.json5 on commit
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  package.json5
  scripts/package/check.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

refactor(cli): return after setting exit code
  lib/cli.js
Due: eslint, prettier -c --loglevel warn

build: update CHANGELOG.md on version
  package.json
  package.json5
  scripts/update-changelog.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

fix!: remove polyfills
  CHANGELOG.md
  package-lock.json
  package.json
  package.json5
  rollup.config.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

feat: upgrade to Unicode 14
  CHANGELOG.md
  lib/unicode.js
  package-lock.json
  package.json
  package.json5
  scripts/unicode/update.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

build: rename scripts
  package.json
  package.json5
  scripts/changelog/check.js
  scripts/changelog/update.js
  scripts/package/check.js
  scripts/package/update.js
  scripts/unicode/update.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

build: return after setting exit code
  scripts/check-changelog.js
  scripts/check-package.js
Due: eslint, prettier -c --loglevel warn

feat!: remove esm bundles
  CHANGELOG.md
  README.md
  package.json
  package.json5
  rollup.config.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

fix: add __proto__ to objects and arrays
  CHANGELOG.md
  lib/parse.js
  test/parse.js
Due: eslint, prettier -c --loglevel warn

feat!: rename browser bundles
  CHANGELOG.md
  README.md
  package.json
  package.json5
Due: prettier -c --loglevel warn, npm run package:check --

fix!: remove require.register feature
  CHANGELOG.md
  README.md
  lib/register.js
  lib/require.js
  test/require.js
Due: eslint, prettier -c --loglevel warn

fix!: throw on serializing bigints
  CHANGELOG.md
  lib/stringify.js
  test/stringify.js
Due: eslint, prettier -c --loglevel warn

build: add package.json5 on version
  package.json
  package.json5
  scripts/package/update.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

build: wrap scripts in main functions
  scripts/check-package.js
  scripts/update-unicode.js
Due: eslint, prettier -c --loglevel warn

build: stage package.json after version
  package.json
  package.json5
Due: prettier -c --loglevel warn, npm run package:check --

docs: use overloads for API docs
  README.md
Due: prettier -c --loglevel warn

feat: include sourcemaps in dist builds
  CHANGELOG.md
  rollup.config.js
Due: eslint, prettier -c --loglevel warn

fix!: remove polyfills
  CHANGELOG.md
  package-lock.json
  package.json
  package.json5
  rollup.config.js
  scripts/es5.js
Due: eslint, prettier -c --loglevel warn, npm run package:check --

refactor: normalize require statement
  lib/util.js
Due: eslint, prettier -c --loglevel warn

docs: using json5 info string in code fences
  README.md
Due: prettier -c --loglevel warn

perf(parse): avoid allocating object
  lib/parse.js
Due: eslint, prettier -c --loglevel warn

fix(util): restore isSpaceSeparator behavior
  lib/util.js
Due: eslint, prettier -c --loglevel warn

perf(parse): use int constants instead of strings
  lib/parse.js
Due: eslint, prettier -c --loglevel warn

perf(parse): avoid more allocations
  lib/parse.js
Due: eslint, prettier -c --loglevel warn

fix: coverage & node compatibility issues
  lib/parse.js
  test/parse.js
Due: eslint, prettier -c --loglevel warn

perf(parse): use codepoints instead of chars
  lib/parse.js
  lib/stringify.js
  lib/util.js
Due: eslint, prettier -c --loglevel warn

lint
  lib/parse.js
  lib/util.js
  test/parse.js
Due: eslint, prettier -c --loglevel warn
